#img {
    height: 100%;
    width: 100%;
    opacity: .01;
    display: none;
}

h1 {
    text-align:center;
}

#img1_container {
    float: left;
    margin-left: 25%;
}

#amt_id {
    color: grey;
}

.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
  background-color: #ccc;
}

#wrapper {
    width: 256px;
    height: 256px;
    background-image: url('https://hypeaug2019.s3.amazonaws.com/Hype_120/spammers/output000.jpg')
}
