{% extends "base.html" %}

{% block body %}
<h1>Task Description</h1>
<h2>You will be shown a series of 100 images, and be asked whether it is real or computer-generated.</br> </h2>
<h3>Your correctness score will be displayed.</h3>
<h4>At the end, you'll be given a completion code. Please submit the completion code on MTurk. </br></br> Thanks so much for your help and work. Here's an example image - they will be of flooded homes.</h4>

<img id="example_img" src="https://hypeaug2019.s3.amazonaws.com/Hype_120/spammers/output000.jpg" height=256px width=256px>
</br>
<input id="amt_id" type="text" value="AMT Worker ID" onfocus="if (this.value=='AMT Worker ID') this.value='';"/>
<input id="start_task_btn" type="submit">

{% endblock %}
