{% extends "base.html" %}

{% block body %}
    <div id="progressbar">
        <span id="progressbar_text" style="position:absolute; margin-left:10px; margin-top:8px; "></span>
    </div>

    <div id="correctness"></div>
    
    </br>

    <input id="img" class="image_select" type="image" src={{image.img_filepath}} value={{image.img}}>

    <input type="radio" name="selected" value="real"> Real<br>
    <input type="radio" name="selected" value="fake"> Fake<br>

    <button id='submit-btn'> Submit</button>
{% endblock %}
