{% extends "base.html" %}

{% block body %}
    <div id="progressbar">
        <span id="progressbar-text"></span>
    </div>

    <div id="frac-correct-wrapper">
        Percent correct: <span id="frac-correct">N/A</span>
        <span id="correctness"></span>
    </div>
    
    </br>

    <div id="wrapper"> 
        <input id="img" type="image" src={{image.img}} >
    </div>

    <div id="radio-wrapper-real" class="radio-wrapper">
        <input type="radio" name="selected" value="real"> Real
    </div>
    <div id="radio-wrapper-fake" class="radio-wrapper">
        <input type="radio" name="selected" value="fake"> Fake
    </div>

    </br>

    <button id='submit-btn'> Submit</button>
    
{% endblock %}
